@charset "UTF-8";

@font-face {
  font-family: "quikloc8";
  src:url("fonts/quikloc8.eot");
  src:url("fonts/quikloc8.eot?#iefix") format("embedded-opentype"),
    url("fonts/quikloc8.woff") format("woff"),
    url("fonts/quikloc8.ttf") format("truetype"),
    url("fonts/quikloc8.svg#quikloc8") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "quikloc8" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "quikloc8" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-asset-details-add-image:before {
  content: "\56";
}
.icon-asset-details-attributes:before {
  content: "\57";
}
.icon-asset-details-mileage:before {
  content: "\58";
}
.icon-asset-details-unit:before {
  content: "\59";
}
.icon-header-alarm:before {
  content: "\5a";
}
.icon-header-apply:before {
  content: "\30";
}
.icon-header-arrow-back:before {
  content: "\31";
}
.icon-header-delete:before {
  content: "\32";
}
.icon-header-menu:before {
  content: "\33";
}
.icon-header-settings:before {
  content: "\34";
}
.icon-location-address2:before {
  content: "\35";
}
.icon-location-close:before {
  content: "\36";
}
.icon-location-maps:before {
  content: "\37";
}
.icon-location-pin-map:before {
  content: "\38";
}
.icon-location-refresh:before {
  content: "\39";
}
.icon-menu-home:before {
  content: "\21";
}
.icon-menu-logout:before {
  content: "\22";
}
.icon-menu-profile:before {
  content: "\23";
}
.icon-menu-recharge-credit:before {
  content: "\24";
}
.icon-menu-support:before {
  content: "\25";
}
.icon-other-asset-alarm2:before {
  content: "\26";
}
.icon-other-asset-geolock:before {
  content: "\27";
}
.icon-other-asset-immobilisation:before {
  content: "\28";
}
.icon-other-asset-position:before {
  content: "\29";
}
.icon-other-asset-status:before {
  content: "\2a";
}
.icon-other-asset-tracking-interval:before {
  content: "\2b";
}
.icon-other-data-acc:before {
  content: "\2c";
}
.icon-other-data-address:before {
  content: "\2d";
}
.icon-other-data-battery:before {
  content: "\2e";
}
.icon-other-data-battery-level:before {
  content: "\2f";
}
.icon-other-data-direction:before {
  content: "\3a";
}
.icon-other-data-fuel:before {
  content: "\3b";
}
.icon-other-data-id:before {
  content: "\3c";
}
.icon-other-data-speed:before {
  content: "\3d";
}
.icon-other-data-temperature:before {
  content: "\3e";
}
.icon-other-data-voltag:before {
  content: "\3f";
}
.icon-other-dot:before {
  content: "\40";
}
.icon-other-profile-address:before {
  content: "\5b";
}
.icon-other-profile-email:before {
  content: "\5d";
}
.icon-other-profile-name:before {
  content: "\5e";
}
.icon-other-profile-password:before {
  content: "\5f";
}
.icon-other-profile-phone:before {
  content: "\60";
}
.icon-other-profile-phone2:before {
  content: "\7b";
}
.icon-other-satellite:before {
  content: "\7c";
}
.icon-other-signal:before {
  content: "\7d";
}
.icon-other-status-acc2:before {
  content: "\7e";
}
.icon-other-status-battery2:before {
  content: "\5c";
}
.icon-other-status-date:before {
  content: "\e000";
}
.icon-other-status-engine-hours:before {
  content: "\e001";
}
.icon-other-status-imei:before {
  content: "\e002";
}
.icon-other-status-mileage:before {
  content: "\e003";
}
.icon-other-status-power:before {
  content: "\e004";
}
.icon-other-status-relay:before {
  content: "\e005";
}
.icon-other-status-satellite2:before {
  content: "\e006";
}
.icon-other-status-signal2:before {
  content: "\e007";
}
.icon-other-status-speed:before {
  content: "\e008";
}
.icon-other-status-tower:before {
  content: "\e009";
}
.icon-other-status-voltage2:before {
  content: "\e00a";
}
